@import "tailwindcss";
@import "./tokens.css";
@import "./gradients.css";

:root {
  font-family: var(--font-family);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}
